<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location in order for you to share it with your friends in chat</string>
	<key>UIAppFonts</key>
	<array>
		<string>19919.ttf</string>
	</array>
</dict>
</plist>
